name: Build and Release ESP32 Firmware

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Prepare secrets file
        run: mv esphome/secrets.yaml.example esphome/secrets.yaml

      - name: Build ESPHome firmware
        uses: esphome/build-action@v7
        id: build
        with:
          yaml-file: esphome/zero-grid.yaml # Replace with your YAML filename
          version: latest

      - name: Upload firmware assets
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          tag_name: ${{ github.ref_name }}
          files: |
            zero-grid-esp32/zero-grid-esp32.factory.bin
            zero-grid-esp32/zero-grid-esp32.ota.bin
            zero-grid-esp32/zero-grid-esp32.elf
            zero-grid-esp32/manifest.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
